.wrapper {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.grid {
  display: grid;
  max-width: 300px;
  width: 100%;
  padding: 20%;
  gap: 20px;
  border: 1px solid black;
}

.cell {
  background-color: transparent;
  border: 1px solid black;
  height: 0;
  padding-bottom: 100%;
}

.cell-activated {
  background-color: green;
}
